<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrderFoodServiceApi" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOrderFoodServiceApi" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8596/OrderFoodService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderFoodServiceApi" contract="OrderFoodServiceReference.IOrderFoodServiceApi" name="BasicHttpBinding_IOrderFoodServiceApi" />
            <endpoint address="net.tcp://localhost:8593/OrderFoodService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderFoodServiceApi" contract="OrderFoodServiceReference.IOrderFoodServiceApi" name="NetTcpBinding_IOrderFoodServiceApi">
                <identity>
                    <userPrincipalName value="TD-ST\shimonarz" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>